<footer class="site-footer">

	<div class="wrapper">

		<h2 class="footer-heading">{{ site.title }} • <a href="{{ site.baseurl }}/table-of-contents">Table of Contents</a></h2>

		<div class="footer-col-wrapper">
			<div class="footer-col footer-col-1">
				<ul class="contact-list">
					<li>{{ site.title }}</li>
					<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
				</ul>
			</div>

			<div class="footer-col footer-col-2">
				<ul class="social-media-list">
					{% if site.github_username %}
					<li>
						{% include icon-github.html username=site.github_username %}
					</li>
					{% endif %}

					{% if site.weibo_username %}
					<li>
						{% include icon-weibo.html username=site.weibo_username %}
					</li>
					{% endif %}

					{% if site.twitter_username %}
					<li>
						{% include icon-twitter.html username=site.twitter_username %}
					</li>
					{% endif %}
					
					{% if site.lofter_username %}
					<li>
						{% include icon-lofter.html username=site.lofter_username %}
					<li>
					{% endif %}
					
					{% if site.zhihu_username %}
					<li>
						{% include icon-zhihu.html username=site.zhihu_username %}
					<li>
					{% endif %}
					
					{% if site.douban_username %}
					<li>
						{% include icon-douban.html username=site.douban_username %}
					<li>
					{% endif %}
					
					{% if site.bokeyuan_username %}
					<li>
						{% include icon-bokeyuan.html username=site.bokeyuan_username %}
					<li>
					{% endif %}
				</ul>
			</div>

			<div class="footer-col footer-col-3">
				<p>{{ site.intro }}</p>
			</div>
		</div>

	</div>

</footer>
